
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Todo's</h5>
          
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                  <tr>
                    
                    <th scope="col">Title</th>
                    <th scope="col">status</th>
                   
                  </tr>
                </thead>
                <tbody>
                    {% for notify in notify %}
                  <tr>
                    {% if notify.status == 'unfinished' %}
                    <td>{{notify.title}}</td>
                    <td>{{notify.status}}</td>
                    {% endif %}
                  </tr>
                 
                  {% endfor %}
                </tbody>
              </table>
        </div>
        
      </div>
    </div>
  </div>
  